---
import BaseLayout from '../layouts/BaseLayouts.astro';
import '../styles/global.css';
const pageTitle = "My Web Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
